@import "https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css";
@import "https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css";

body {
  margin:0;
}

:root {
  --geo-map-background-color: #FFFFFF;
  --geo-map-foreground-color: #000000;
  --geo-map-border-color: #2d2d2d;
  --geo-map-secondary-background-color: #000000;
  --geo-map-secondary-foreground-color: #ffffff;
  --column-footer-height: 1em;
  --column-footer-offset: 1em;
  --column-header-size: 1em;
  --column-text-color: black;
  --column-background-color: transparent;
}

geo-map {
  opacity: 0;
  margin:0;
  display:block;
  width:100vw;
  height:100vh;
  background-color:transparent;
  transition: opacity 0.5s ease-in;
}

geo-map map-container {
  position: absolute;
  display:block;
  left: 0pt;
  top: 0pt;
  width: 100%;
  height: 100%;
}

geo-map-column {
  position:absolute;
  width: 20em;
  z-index:100;
  top: var(--column-header-size);
  height:calc(100% - var(--column-footer-height) - var(--column-footer-offset) - var(--column-header-size));
  display:flex;
  flex-direction: column;
  overflow:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  color: var(--column-text-color);
  pointer-events: none;
  background-color: var(--column-background-color);
}

geo-map-column > * {
  pointer-events: all;
}

geo-map-column::-webkit-scrollbar {
  display:none;
}


geo-map-column footer {
 position: absolute;
 bottom: var(--column-footer-offset);
 height: var(--column-footer-height);
}

geo-map-column[side*="left"] {
  left:12pt;
}

geo-map-column[side*="right"] {
  right:12pt;
  z-index: 1;
}


geo-map-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 1px solid yellow;
  left:50%;
  top:50%;
  padding:0;
  margin:0;
  max-width: 40em;
  max-height: calc(100% - 5em);
  width: calc(100% - 5em);
  transform: translate(-50%, -50%);
  background-color: var(--geo-map-background-color);
  color: var(--geo-map-foreground-color);
  border: 1px solid var(--geo-map-border-color);
  overflow: hidden;
  z-index: 10000;
}

geo-map-modal .close-button {
  position: absolute;
  right: 0.0em;
  top: 0.0em;
  line-height:0;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.5em;
  color: var(--geo-map-secondary-foreground-color);
}

geo-map-modal .close-button:active {
  opacity: 0.8;
  transform: scale(0.8);
}
geo-map-modal main {
  display:block;
  width:calc(100% - 1em);
  max-height:calc(100% - 15em);
  overflow-y:scroll;
  overflow-x:hidden;
  margin: 0 0 0 -0.5em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

geo-map-modal main::-webkit-scrollbar {
  display:none;
}

geo-map-modal main div {
  padding:0.5em;
}

geo-map-modal header {
  background-color:var(--geo-map-secondary-background-color);
  color: var(--geo-map-secondary-foreground-color);
  margin:0;
  padding:0;
  display:block;
  width: 100%;
  font-size: 18pt;
  font-weight: bolder;
}

geo-map-modal header {
  margin:0;
  padding: 1em 0em;
  text-align:center;
}

geo-map-modal footer {
  width:100%;
  padding: 0.25em 0;
  background-color:var(--geo-map-secondary-background-color);
  color: var(--geo-map-secondary-foreground-color);
  text-align:center;
}

geo-map-show-modal {
  position: fixed;
  right: 9px;
  bottom: 46px;
  padding: 1em;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s linear;
  background-color:var(--geo-map-secondary-background-color);
  color: var(--geo-map-secondary-foreground-color);
  border: 1px solid var(--geo-map-border-color);
}

geo-map-show-modal:active {
  opacity: 0.80;
}

.far .near, .middle .near {
  display: none;
}

.far .middle, .far .near {
  display: none;
}

.middle .far, .middle .near {
  display: none;
}
